In [9]:
import pandas as pd

POs = pd.read_excel("2023.04.18 CLM_SEBN_Open_POs_detail.xlsx", sheet_name="Open POs - detail")

In [14]:
POs

,Plant,Supplier No,Supplier Name,Material No,Material Description,OEM Part No,SupplierMaterial No,Rest,Rest in %,Due Date,Ordered Quantity,Receipt Qty,Receipt date.,XPPS (Firma Werk)
0,SEPL,10002.0,TE Connectivity Solutions GmbH,901000026,"KONTAKT MCP1,2 Sn0.25-0.35",A0215451426,7-1452665-1,6000.0,100.0000,2023-04-13,6000.0,0.0,NaN,2 000
1,SEPL,10002.0,TE Connectivity Solutions GmbH,901000028,"KONTAKT MCP1,2 Sn0.5-0.75",A0215451026,7-1452668-1,24000.0,100.0000,2023-04-13,24000.0,0.0,NaN,2 000
2,SEPL,10002.0,TE Connectivity Solutions GmbH,901000031,"KONTAKT MCP1,2 Sn 1-1.5",A0205459426,7-1452659-1,16000.0,100.0000,2023-04-13,16000.0,0.0,NaN,2 000
3,SEPL,10070.0,KOSTAL KONTAKT SYSTEME GMBH s.F2,901000036,"KONTAKT SLK2,8 Sn 1.5-2.5",A0105459526,2 21 40 47298 0,4000.0,100.0000,2023-05-16,4000.0,0.0,NaN,2 000
4,SEPL,10002.0,TE Connectivity Solutions GmbH,901000039,KONTAKT MQS Au 0.25-0.35,A0065458426,5-962885-5,9000.0,100.0000,2023-04-13,9000.0,0.0,NaN,2 000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393059,SEUA,70289.0,SE BORDNETZE Polska Sp.z o.o.,9PLBM4187,KREPP-BAND 19 mm x 50 m,1300 GE (inny klej),9PLBM4187,4800.0,100.0000,2024-04-08,4800.0,0.0,NaN,7 000
393060,SEUA,70289.0,SE BORDNETZE Polska Sp.z o.o.,9PLBM4187,KREPP-BAND 19 mm x 50 m,1300 GE (inny klej),9PLBM4187,4800.0,100.0000,2024-04-22,4800.0,0.0,NaN,7 000
393061,SERO,70289.0,SE BORDNETZE Polska Sp.z o.o.,9PLBM4519,loop rubber,gumki do wiazania KMow,9PLBM4519,2192701.0,100.0000,2022-06-06,2192701.0,0.0,NaN,9 000
393062,SEUA,70289.0,SE BORDNETZE Polska Sp.z o.o.,9PLBM4561,Wickelt. A7,Wickeltuch A7,NaN,72361.0,7.2361,2019-02-18,1000000.0,927639.0,04/04/2023,7 000
393063,SEUA,700001.0,"PP""Blitstar""",9PLBM4570,loop rubber,gumki do wiazania KMow,NaN,1500.0,100.0000,2023-02-13,1500.0,0.0,NaN,7 000

In [15]:
print(POs.head())
print(POs.describe())

  Plant  Supplier No                       Supplier Name Material No  \
0  SEPL      10002.0      TE Connectivity Solutions GmbH   901000026
1  SEPL      10002.0      TE Connectivity Solutions GmbH   901000028
2  SEPL      10002.0      TE Connectivity Solutions GmbH   901000031
3  SEPL      10070.0  KOSTAL KONTAKT SYSTEME GMBH   s.F2   901000036
4  SEPL      10002.0      TE Connectivity Solutions GmbH   901000039

         Material Description  OEM Part No SupplierMaterial No     Rest  \
0  KONTAKT MCP1,2 Sn0.25-0.35  A0215451426         7-1452665-1   6000.0
1  KONTAKT  MCP1,2 Sn0.5-0.75  A0215451026         7-1452668-1  24000.0
2     KONTAKT MCP1,2 Sn 1-1.5  A0205459426         7-1452659-1  16000.0
3   KONTAKT SLK2,8 Sn 1.5-2.5  A0105459526     2 21 40 47298 0   4000.0
4    KONTAKT MQS Au 0.25-0.35  A0065458426          5-962885-5   9000.0

   Rest in %   Due Date  Ordered Quantity  Receipt Qty Receipt date.  \
0      100.0 2023-04-13            6000.0          0.0           NaN
1      100.0 2023-04-13           24000.0          0.0           NaN
2      100.0 2023-04-13           16000.0          0.0           NaN
3      100.0 2023-05-16            4000.0          0.0           NaN
4      100.0 2023-04-13            9000.0          0.0           NaN

  XPPS (Firma Werk)
0             2 000
1             2 000
2             2 000
3             2 000
4             2 000
         Supplier No          Rest      Rest in %  Ordered Quantity  \
count  392752.000000  3.930640e+05  393064.000000      3.930640e+05
mean    26351.352266  6.982362e+04      99.643667      7.051791e+04
std     30562.780267  1.013861e+07       4.910172      1.014368e+07
min     10002.000000  1.800000e-01       0.000415      1.800000e-01
25%     10107.000000  1.400000e+03     100.000000      1.400000e+03
50%     10781.000000  4.200000e+03     100.000000      4.200000e+03
75%     20081.000000  1.260000e+04     100.000000      1.280000e+04
max    801100.000000  5.499986e+09     100.000000      5.500007e+09

        Receipt Qty
count  3.930640e+05
mean   6.942822e+02
std    4.690378e+04
min    0.000000e+00
25%    0.000000e+00
50%    0.000000e+00
75%    0.000000e+00
max    1.583741e+07

In [64]:
POs1 = POs.groupby(['Plant','Material No'])['Rest'].sum().reset_index()

In [65]:
POs1

      Plant Material No      Rest
0      CNPL   910000839   27000.0
1      CNPL   910002391   10000.0
2      CNPL   920000600     800.0
3      CNPL   920001733    1152.0
4      CNPL   920001813     750.0
...     ...         ...       ...
20377  SEUA   9PLBM2054   10000.0
20378  SEUA   9PLBM2055   25000.0
20379  SEUA   9PLBM4187  206400.0
20380  SEUA   9PLBM4561   72361.0
20381  SEUA   9PLBM4570    1500.0

[20382 rows x 3 columns]

In [66]:
POs1 = POs1[~POs1.Plant.str.contains("SEUA")]

In [67]:
POs1

      Plant Material No      Rest
0      CNPL   910000839   27000.0
1      CNPL   910002391   10000.0
2      CNPL   920000600     800.0
3      CNPL   920001733    1152.0
4      CNPL   920001813     750.0
...     ...         ...       ...
17701  SETN   999000484  600000.0
17702  SETN   999000506   20000.0
17703  SETN   999000608   10000.0
17704  SETN   999000611   15000.0
17705  SETN   999993017   10000.0

[17706 rows x 3 columns]

In [68]:
POs1['Rest'] = POs1['Rest'].map('{:,.0f}'.format)

<ipython-input-68-46df21f8a327>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  POs1['Rest'] = POs1['Rest'].map('{:,.0f}'.format)

In [69]:
POs1['PlantPOs'] = POs1['Plant'].astype(str) + "(" + POs1['Rest'].astype(str) + ")"

<ipython-input-69-179f5ae5b677>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  POs1['PlantPOs'] = POs1['Plant'].astype(str) + "(" + POs1['Rest'].astype(str) + ")"

In [70]:
POs1.drop(columns=['Plant', 'Rest'], inplace=True)

<ipython-input-70-58c35a2001eb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  POs1.drop(columns=['Plant', 'Rest'], inplace=True)

In [71]:
POs1

      Material No       PlantPOs
0       910000839   CNPL(27,000)
1       910002391   CNPL(10,000)
2       920000600      CNPL(800)
3       920001733    CNPL(1,152)
4       920001813      CNPL(750)
...           ...            ...
17701   999000484  SETN(600,000)
17702   999000506   SETN(20,000)
17703   999000608   SETN(10,000)
17704   999000611   SETN(15,000)
17705   999993017   SETN(10,000)

[17706 rows x 2 columns]

In [72]:
POs_final = POs1.groupby('Material No', as_index=False).agg({'PlantPOs': ', '.join})

In [73]:
POs_final

     Material No                   PlantPOs
0      901000026                SEPL(6,000)
1      901000028               SEPL(24,000)
2      901000031               SEPL(16,000)
3      901000036                SEPL(4,000)
4      901000039                SEPL(9,000)
...          ...                        ...
8939   999993012                  SEPL(250)
8940   999993017  SEPL(8,000), SETN(10,000)
8941   999999911            SERO(1,728,000)
8942   9PLBM4020            S1UA(8,593,704)
8943   9PLBM4519            SERO(2,192,701)

[8944 rows x 2 columns]